root = true

[*]
charset = utf-8

# IDE0047: Remove unnecessary parentheses
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity

# IDE0047: Remove unnecessary parentheses
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity


# IDE0047: Remove unnecessary parentheses
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity

dotnet_style_parentheses_in_other_operators = always_for_clarity